.filter-container{
  position: absolute;
  right: 100%;
  top: 10px;
  z-index: 2;
  padding: .5rem 1rem;
  background-color: var(--black700);
  width: 120px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: .6rem;
  border-radius: 8px;
  border: 1px solid var(--black400);

  .filter-title{
    width: 100%;
    text-align: left;
  }

  .state-select, .city-select{
    width: 100%;

    select{
    width: 100%;
    outline: none;
    }
  }
}